<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/5662857/pexels-photo-5662857.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1>Your Lists</h1>
  </div>
</div>

<%= link_to 'New List', new_list_path, class: "btn btn-primary m-2 d-flex justify-content-center" %>

<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/3709370/pexels-photo-3709370.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500)">
      <h2 class="text-white"><%= link_to list.name, list_path(list) %></h2>
    </div>
  <% end %>
</div>
